@media only screen and (max-width: 991px){
    .nav-link{
        padding: 20px;
    }
}

@media only screen and (max-width: 768px){
    .about-content h2 {
        font-size: 2rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .inner-hero h1{
        font-size: 2rem;
    }

    .lead{
        text-align: center;
    }

    p{
        text-align: center;
    }

    h4{
        text-align: center;
    }

    .benefit-detailed-card .benefit-icon{
        margin-left: auto;
        margin-right: auto;
    }

    .process-step-vertical{
        gap: 0;
    }

    .step-content-box{
        margin-left: -10px;
    }

    .cta-container{
        padding: 30px 20px;
    }

    .section-title h2, .section-title span{
        text-align: center;
    }

    #about p{
        text-align: center;
    }

    #about .about-feature-box p{
        text-align: left !important;
    }

    .mini-card{
        justify-content: center;
        text-align: center;
    }

    #global-impact p{
        text-align: left !important;
    }
    
}

@media only screen and (max-width: 576px){
    .impact-visual-box{
        padding: 20px 30px !important;
    }
}

@media only screen and (max-width: 340px){
    
}